.input-currency-container{
    display: flex;
}
.input-currency-element {
    width: 100%;
    border: none;
    background: none;
    padding: 0;
    outline: none;
    font: inherit;
    text-align: right;
    color: currentColor;
  }