.container{
    width: 100%;
    cursor: pointer;
}
.content{
    width: 100%;
    display: flex;
    flex-direction: row;
    >.name{
        flex: 1 1 auto
    }
    >.price{
        flex: 0 1 auto;
        text-align: right;
    }
}

