
<div class="container-auth">
    <header>
        <usaha-page-header-simple [title]="title"></usaha-page-header-simple>
    </header>

    <div>
        <router-outlet></router-outlet>
    </div>
    
    <mat-divider  class="m-tb-1rem"></mat-divider>

    <div class="m-tb-1rem" fxLayout="row" fxLayoutAlign="space-around center">
        <a mat-flat-button 
        routerLink="/auth/login"
        routerLinkActive="mat-primary">Login</a>
        <a mat-flat-button
        routerLink="/auth/register"
        routerLinkActive="mat-primary"
        >Register</a>
        <a mat-flat-button routerLink="/auth/forget-password"
        routerLinkActive="mat-primary">Forget Password</a>
    </div>
</div>

