.app-loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // width: 100%;
    // height: 100%;
    z-index: 9999999998;
 }

 .bg-loading-screen{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    opacity: 0.6;
 }