<div class="container-main">
    <header>
        <usaha-main-header></usaha-main-header>
    </header>
    <div style="overflow-y: auto;">
        <router-outlet></router-outlet>
    </div>
        <mat-toolbar fxLayout="row" fxLayoutAlign="space-evenly center"
         >

         <a mat-icon-button mat-raised-button 
             routerLink="/home"
             routerLinkActive="mat-primary">
             <mat-icon>home</mat-icon>
         </a>
         <a mat-icon-button mat-raised-button
             routerLink="/my-profile"
             routerLinkActive="mat-primary">
             <mat-icon>badge</mat-icon>
         </a>
         
         <a mat-icon-button mat-raised-button disabled
             routerLink="/auth/forget-password"
             routerLinkActive="mat-primary">
             <mat-icon>shopping_cart</mat-icon>
         </a>
         <a mat-icon-button mat-raised-button
             routerLink="/my-stores"
             routerLinkActive="mat-primary">
             <mat-icon>store</mat-icon>
         </a>
        </mat-toolbar>
</div>

