<div class="container-my-stores">
    <usaha-search-form-list (searchValue)="searchValue($event)"></usaha-search-form-list>
    
    <div class="list-shop-card-container" *ngIf="items.length>0 else nolist">
        <mat-card class="shop-card" [ngClass]="screen" *ngFor="let item of items">
          <mat-card-title>{{item.name}}</mat-card-title>
          <mat-card-subtitle>{{item.shop_code}}</mat-card-subtitle>
          <mat-card-content>
            <div class="img-shop-card" [ngStyle]="{'background-image': 'url(' + (item.photo === null ? defaultPhoto: backend+item.photo) + ')'}"></div>
            <p>{{item.address}}</p>
          </mat-card-content>
          <mat-card-actions class="shop-card-action">
            <a mat-flat-button color="primary">Dashboard</a>
            <a [routerLink]="['/workspace/'+item.id]" mat-stroked-button color="primary">Workspace</a>
          </mat-card-actions>
        </mat-card>
    </div>
    <ng-template #nolist>
      <div class="no-item-banner"><span>Tidak ada toko</span></div>
    </ng-template>
    <usaha-pagination-simple 
    #pagination
    (pageSelectedChanged)="pageSelectedChange($event)"
    (nPageChanged)="nPageChange($event)"
    ></usaha-pagination-simple>
</div>
<a mat-fab style="position: absolute;right:1rem; bottom:8rem;" [routerLink]="['/my-stores/add']">
    <mat-icon>add</mat-icon>
</a>

