<div class="container-my-stores">
    <usaha-search-form-list (searchValue)="searchValue($event)"></usaha-search-form-list>
    <mat-nav-list style="overflow-y: auto;">
      <a mat-list-item *ngFor="let item of items" [routerLink]="['/workspace/'+item.id]">{{item.name}}</a>
    </mat-nav-list>
    <usaha-pagination-simple 
    #pagination
    (pageSelectedChanged)="pageSelectedChange($event)"
    (nPageChanged)="nPageChange($event)"
    ></usaha-pagination-simple>
</div>
<a mat-fab style="position: absolute;right:1rem; bottom:8rem;" [routerLink]="['/my-stores/add']">
    <mat-icon>add</mat-icon>
</a>

