<div fxLayout="column" fxFlexFill>
    <form fxFlex class="w-full" [formGroup]="form" >
        <mat-form-field appearance="outline">
          <mat-label>Cari Grup</mat-label>
          <input matInput placeholder="Cari Grup" formControlName="Search" class="w-full h-full">
        </mat-form-field>
    </form>
    <mat-selection-list fxFlex="grow" #product [multiple]="false">
        <mat-list-option *ngFor="let item of groupList" [value]="item.id">
          {{item.name}}
        </mat-list-option>
    </mat-selection-list>
    <app-pagination fxFlex
    (pageSelectedChanged)="pageSelectedChanged($event)"
    (nPageChanged)="paginationNChanged($event)"
    ></app-pagination>
</div>



