<form
  class="form-auth m-tb-1rem"
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="1rem"
>
  <mat-form-field appearance="fill" class="auth-form-field">
    <mat-icon class="auth-mat-form-field-prefix" matPrefix>password</mat-icon>
    <mat-label>Password</mat-label>
    <input matInput type="password"/>
    <mat-error></mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill" class="auth-form-field">
    <mat-icon class="auth-mat-form-field-prefix" matPrefix>sync_lock</mat-icon>
    <mat-label>Confirm Password</mat-label>
    <input matInput type="password"/>
    <mat-error></mat-error>
  </mat-form-field>
  <button type="submit" mat-raised-button color="accent">Submit</button>
</form>
