<mat-toolbar color="primary" class="container-main-header">
    <div>
        <span>Project Name</span>
    </div>
    <div style="padding: 0 0.25rem;" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="0.5rem">
        <a mat-icon-button disabled>
            <mat-icon>search</mat-icon>
        </a>
        <a mat-icon-button disabled>
            <mat-icon>notifications</mat-icon>
        </a>
        <a mat-icon-button disabled>
             <mat-icon>chat</mat-icon>
         </a>
    </div>
</mat-toolbar>

